/* ----- Reset simple ----- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----- Base globale ----- */

html, body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  color: #222;
  height: 100%;
}

/* ----- Liens ----- */

a {
  text-decoration: none;
  color: inherit;
}

/* ----- Listes ----- */

ul {
  list-style: none;
}
/* ----- NAVBAR ----- */

.main-nav {
  background-color: #0d111c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
}

.nav-logo {
  font-size: 1.4rem;
  font-weight: 700;
}

.main-nav ul {
  display: flex;
  gap: 25px;
}

.main-nav a {
  color: white;
  font-weight: 500;
  transition: opacity 0.2s ease;
}

.main-nav a:hover {
  opacity: 0.7;
}
