/* ----- Reset simple ----- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----- Base globale ----- */

html, body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  color: #222;
  height: 100%;
}

/* ----- Liens ----- */

a {
  text-decoration: none;
  color: inherit;
}

/* ----- Listes ----- */

ul {
  list-style: none;
}
